#sheet
{
	display:inline-block;
	background-color:yellow;
	position:relative;
	width:100%;
	height:300px;
	overflow-y:hidden;
}
[id^="bar"]{
position:relative; 
bottom:-100px; 
width:60px; 
height:200px;
display:inline-block;
background-color:blue;
margin-left:20px;
margin-right:20px;
}
#getInput{
text-align:center;
}
#height{
display:inline-block;
}
#label{
color:white;
font-size:15px;
}